<html>      


<head>      
<title>exampls</title>
</head>
<body>
       <% products.forEach(function(item,index){%>
        <h1><%=item.name%></h1> <br>
        <p><%=item.description%></p><br>
        <h2><%=item.price%></h2><br>
    
        <% }) %>



</body>

</html>